<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="essusys.coursemanagementsystem.demos.web.mapper.StudentGradeMapper">

    <!-- 定义结果映射 -->
    <resultMap id="ClaCouTabResultMap" type="essusys.coursemanagementsystem.demos.web.entity.ClaCouTab">
        <result property="claID" column="cla_id"/>
        <!--        <result property="claCouCode" column="cla_cou_code"/>-->
        <!--        <result property="claTchId" column="cla_tch_id"/>-->
        <!--        <result property="couCode" column="cou_code"/>-->
        <result property="scoStuId" column="sco_stu_id"/>
        <result property="couName" column="cou_name"/>
    </resultMap>
</mapper>