<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="essusys.coursemanagementsystem.demos.web.mapper.EvaluateMapper">
    <!-- 结果映射 -->
    <resultMap id="EvaluationSTabResultMap" type="essusys.coursemanagementsystem.demos.web.entity.EvaluationSTab">

        <result property="couName" column="cou_name"/>
        <result property="couType" column="cou_type"/>
        <result property="couRank" column="cou_rank"/>
        <result property="couSchool" column="cou_school"/>
        <result property="evaClaId" column="eva_cla_id"/>
        <result property="evaTchId" column="eva_tch_id"/>
        <result property="evaStuId" column="eva_stu_id"/>
        <result property="evaScore" column="eva_score"/>
        <result property="evaItem1" column="eva_item_1"/>
        <result property="evaItem2" column="eva_item_2"/>
        <result property="evaItem3" column="eva_item_3"/>
        <result property="evaItem4" column="eva_item_4"/>
        <result property="evaText" column="eva_text"/>
<!--        <result property="scoStuId" column="sco_stu_id"/>-->
<!--        <result property="scoClaId" column="sco_cla_id"/>-->
<!--        <result property="scoScore1" column="sco_score_1"/>-->
<!--        <result property="scoScore2" column="sco_score_2"/>-->
        <result property="tchName" column="tch_name"/>
    </resultMap>
</mapper>
